<footer>
    <section class="row justify-content-center align-items-center py-5">
        <div class="col-xs-12 col-sm-9 col-md-6 col-lg-4 col-xl-3 text-center">
            <div class="row align-items-center justify-content-center">
                <img alt="logo Simplon" src="pics/simplon.png">
                <span id="brand" class="ml-2">SIMPLON.CO</span>
            </div>
            <span id="punchline">
                Formations numériques et inclusives
            </span>
        </div>
                <div class="col-xs-12 col-sm-9 col-md-6 col-lg-4 col-xl-3 text-center">

            <p>
                <a class="links" href="https://simplon.co/presse/" target="_blank">PRESSE</a>
                <a class="links" href="https://simplon.co/anti-faq/" target="_blank">ANTI-FAQ</a>
                <a class="links" href="https://talents.simplon.co/accueil" target="_blank">TALENTS.CO</a>
                <a class="links" href="https://simplon.co/newsletter/" target="_blank">NEWSLETTER</a>
                <a class="links" href="https://simplon.co/mentions-legales/" target="_blank">MENTIONS LÉGALES</a>
            </p>
            </div>
                    <div class="col-xs-12 col-sm-9 col-md-6 col-lg-4 col-xl-3 text-center">

            <a href="https://www.facebook.com/simplon.occitanie/" target="_blank">
                <i class="fa fa-facebook fa-5x"></i>
            </a>
            <a href="https://twitter.com/simplon_occ" target="_blank">
                <i class="fa fa-twitter fa-5x"></i>
            </a>
            <a href="https://www.linkedin.com/company/simplon-occitanie/?originalSubdomain=fr" target="_blank">
                <i class="fa fa-linkedin fa-5x"></i>
            </a>
            </div>
        </div>
    </section>
</footer>
