{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
    <section class="row bg-grey justify-content-center py-5 my-5">
        <div class="col-12 text-center">
            <span class="h4 text-black">Il reste des places pour la prochaine session de formation</span>
        </div>
        <div class="col-12 text-center p-2 my-3">
            <span class="display-4 font-weight-bold" id="cta">Développeur Web &amp; Web mobile !!!</span>
        </div>
        <div class="col-8 text-center">
            <a href="{{ path('candidacy') }}"><button class="btn btn-block bg-red">Je veux en faire partie !</button></a>
        </div>
    </section>
    <section class="container">
        <section class="row align-items-center justify-content-center  my-5 py-5">
            <div class="col-12 text-center py-3">
                <span class="display-3 font-weight-bold text-red">C'est quand ?</span>
            </div>
            <div class="col-12 text-center">
                <span class="h2 text-black">
                    C'est MAINTENANT !!!!
                    <br>
                    <span class="font-italic text-muted">ou presque</span>
                    <br>
                    Et ça dure 11 mois !
                    <br>
                    <span class="font-italic text-muted">du 1er octobre 2019 au 28 août 2020</span>
                </span>
            </div>
        </section>
        <hr>
        <section class="row align-items-center justify-content-center my-5 py-5">
            <div class="col-12 text-center py-3">
                <span class="display-3 font-weight-bold text-red">C'est où ?</span>
            </div>
            <div class="col-12 text-center">
                <span class="h2 text-black">
                    À CARCASSONNE !!!!
                    <br>
                    <span class="font-italic text-muted">Zone industrielle de l'Arnouzette,</span>
                    <br>
                    au 302 rue Lamarck !
                    <br>
                    <span class="font-italic text-muted">et on n'attend plus que toi !!!</span>
                </span>
            </div>
            <div class="col-12">
                <div id="leafletmap" class="my-3"></div>
            </div>
        </section>
    </section>
    <section class="row bg-black justify-content-center py-5 my-5">
        <div class="col-12 text-center my-5">
            <span class="display-4 font-weight-bold">Tu <i class="text-red fa fa-heart"></i> le web </span>
            <span class="text-red display-4 font-weight-bold">&amp; </span>
            <span class="display-4 font-weight-bold">tu es 
            <span class="text-red display-4 font-weight-bold"><i class="fa fa-thumbs-up"></i></span>
             surmotivé ? </span>
            
        </div>
        <div class="col-8 text-center">
            <a href="{{ path('candidacy') }}"><button class="btn btn-block bg-red">Rejoins-nous !</button></a>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    <script src="js/leaflet.js"></script>
{% endblock %}
