@font-face {
    font-family: Avenir;
    src: url(fonts/Avenir.woff2) format("woff2"), url(fonts/Avenir.woff) format("woff"), url(fonts/Avenir.ttf) format("truetype");
}

:root {
    --mainred: #bf224e;
    --maingrey: #666;
    --avenirfont: 'Avenir', sans-serif;
    --robotofont: 'Roboto', sans-serif;
}

body, .row, .container-fluid {
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
}

hr {
    margin: 0;
}

a {
    outline: none;
    color: var(--secondcolor);
}

a:hover {
    text-decoration: none !important;
    color: #000;
}

body {
    background-color: #FFF;
    font-family: var(--robotofont);
}

header {
    background-color: #000;
}

#icons {
    display: flex;
    justify-content: right;
    margin: 40px;
    font-family: var(--robotofont);
    font-size: 10px;
}

.icon-label {
    font-size: 12px;
    color: var(--maingrey);
}

.icon {
    color: var(--maingrey) !important;
    padding: 0 32px 0 32px;
}

.icon:hover, .icon:hover .icon-label {
    color: var(--mainred) !important;
    cursor: pointer;
}

.logo img {
    width: 60px;
    height: auto;
    margin: 20px 0 20px 0;
}

.logo h1 {
    font-family: var(--avenirfont);
    color: var(--mainred);
    font-size: 30px;
    margin: 0;
    padding: 0;
}

.logo h2 {
    color: #FFF;
    font-size: 20px;
}

.bg-red {
    background-color: var(--mainred) !important;
    color: #FFF !important;
}

.bg-grey {
    background-color: var(--maingrey) !important;
    color: #FFF !important;
}

.bg-black {
    background-color: #000 !important;
    color: #FFF !important;
}

.text-black {
    color: #000;
}

.text-red {
    color: var(--mainred) !important;
}

#cta {
  word-break: break-word;
}

#leafletmap { height: 180px; }

footer{
    background-color: #2b2b2b;
    color: #757575;
    padding: 80px 0px 25px 0px;
  }
  
  footer img{
    width: 30px;
  }
  
  #brand{
    font-size: 30px;
    color: #FFF;
    font-weight: bold;
  }
  
  #punchline{
    font-size: 22px;
  }
  
  footer p{
    margin-top: 25px;
  }
  
  .links{
    color: var(--simploncolor);
    font-size: 22px;
    font-weight: bolder;
    margin:0 5px 0 5px;
  }
  
  .links:hover{
    text-decoration: none;
    color: #FFF;
  }
  
  footer i{
    color: #757575;
    padding: 20px;
  }
  
  footer i:hover{
    color: #FFF;
  }

  /* Smart Wizard */
.sw-theme-dots .sw-container {
    min-height: 300px;
  }
  .sw-theme-dots .step-content {
    padding: 10px 0;
    border: none;
    background-color: #FFF;
    text-align: left;
  }
  .sw-theme-dots .sw-toolbar{
    background: #fff;
    border-radius: 0 !important;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0 !important;
  }
  .sw-theme-dots .sw-toolbar-top{
    border-bottom-color: #ddd !important;
  }
  .sw-theme-dots .sw-toolbar-bottom{
    border-top-color: #ddd !important;
    border-bottom-color: #ddd !important;
  }
  .sw-theme-dots > ul.step-anchor{
    position: relative;
    background: #fff;
    border: 0px solid #ccc !important;
    list-style: none;
  }
  .sw-theme-dots > ul.step-anchor:before {
    content: " ";
    position: absolute;
    top: 70px;
    bottom: 0;
    width: 100%;
    height: 5px;
    background-color: #f5f5f5;
    border-radius: 3px;
    z-index: 95;
  }
  .sw-theme-dots > ul.step-anchor > li{
    border: none;
  }
  /* Anchors styles */
  .sw-theme-dots > ul.step-anchor > li > a{
    position: relative;
    text-align: center;
    font-weight: bold;
    background: transparent;
    border: none;
    color: #ccc;
    text-decoration: none;
    outline-style:none;
    z-index: 96;
    display: block;
  }
  .sw-theme-dots > ul.step-anchor > li > a:before {
    content: ' ';
    position: absolute;
    bottom: 2px;
    left: 40%;
    margin-top: 10px;
    display: block;
    border-radius: 50%;
    color: #000;
    background: #f5f5f5;
    border: none;
    width: 30px;
    height: 30px;
    text-decoration: none;
    z-index: 98;
  }
  .sw-theme-dots > ul.step-anchor > li > a:after  {
    content: ' ';
    position: relative;
    left: 43%;
    bottom: 2px;
    margin-top: 10px;
    display: block;
    width: 15px;
    height: 15px;
    background: #f5f5f5;
    border-radius: 50%;
    z-index: 99;
  }
  .sw-theme-dots > ul.step-anchor > li > a:hover  {
    color: #ccc;
    background: transparent;
  }
  .sw-theme-dots > ul.step-anchor > li > a:focus{
    color: #ccc;
    border: none;
  }
  .sw-theme-dots > ul.step-anchor > li.clickable > a:hover {
    color: #999;
  }
  /* Active anchors */
  .sw-theme-dots > ul.step-anchor > li.active > a{
    color: #000;
  }
  .sw-theme-dots > ul.step-anchor > li.active > a:hover{
    border: none;
  }
  .sw-theme-dots > ul.step-anchor > li.active > a:after {
    background: var(--mainred);
  }
  /* Done anchors */
  .sw-theme-dots > ul.step-anchor > li.done > a{
    color: #AAA;
  }
  .sw-theme-dots > ul.step-anchor > li.done > a:after {
    background: #AAA;
  }
  /* Danger anchors */
  .sw-theme-dots > ul.step-anchor > li.danger > a {
    color: #d9534f;
  }
  .sw-theme-dots > ul.step-anchor > li.danger > a:after {
    background: #d9534f;
  }
  
  .sw-theme-dots > ul.step-anchor > li.disabled > a, .sw-theme-dots > ul.step-anchor > li.disabled > a:hover {
    color: #eee !important;
  }
  .sw-theme-dots > ul.step-anchor > li.disabled > a:after {
    background: #eee;
  }
  
  .sw-theme-default > ul.step-anchor > li.active > a {
      color: var(--mainred) !important;
  }

  @media only screen and (max-width: 900px) {
.steps{
  visibility: hidden;

}     
    
  }