<header>
    <div
        class="row justify-content-center align-items-center">
        {# gauche #}
        <div class="col-xs-12 col-lg-3 text-center"></div>
        {# gauche #}
        {# centre logo #}
        <a class="logo col-xs-12 col-lg-6 text-center p-3" href="{{ path('home') }}" title="Accueil">
            <img alt="logo Simplon" src="pics/simplon.png">
            <h1 class="text-center">SIMPLON OCCITANIE</h1>
            <h2>Fabrique de Carcassonne</h2>
        </a>
        {# centre logo #}
        {# droite #}
        <div class="col-xs-12 col-lg-3 text-right">
            <div id="icons" id="usernav">
                <a class="text-center icon" href="{{ path('home') }}" title="Accueil">
                    <div class="row justify-content-center">
                        <i class="fa fa-home fa-2x"></i>
                    </div>
                    <div class="icon-label row justify-content-center">
                        Accueil
                    </div>
                </a>
                {% if is_granted('ROLE_ADMIN') %}
                    {# admin #}
                    <a class="text-center icon" href="{{ path('admin') }}" title="Admin">
                        <div class="row justify-content-center">
                            <i class="fa fa-gem fa-2x"></i>
                        </div>
                        <div class="icon-label row justify-content-center">
                            Admin
                        </div>
                    </a>
                    {# admin #}
                {% endif %}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {# user #}
                    <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle icon" data-toggle="dropdown" href="#" role="button" title="Utilisateur">
                        <div class="row justify-content-center">
                            <i class="fa fa-user-check fa-2x"></i>
                        </div>
                        <div class="icon-label row justify-content-center">
                            Utilisateur
                        </div>
                    </a>
                    <div aria-labelledby="dropdownMenuLink" class="dropdown-menu">
                        <a class="dropdown-item" href="#">
                            <i class="fa fa-user-circle fa-1x"></i>
                            Mon compte
                        </a>
                        <a class="dropdown-item" href="{{ path('logout') }}">
                            <i class="fa fa-power-off fa-1x"></i>
                            Déconnexion
                        </a>
                    </div>
                    {# user #}
                {% else %}
                    {# anonymous #}
                    <a class="icon" data-target="#exampleModalCenter" data-toggle="modal" id="connectionLink" title="Utilisateur">
                        <div class="row justify-content-center">
                            <i class="fa fa-user fa-2x"></i>
                        </div>
                        <div class="icon-label row justify-content-center">
                            Connexion
                        </div>
                    </a>
                    {# anonymous #}
                {% endif %}
            </div>
        </div>
        {# droite #}
    </div>
</header>

<!-- Modal -->
<div aria-hidden="true" aria-labelledby="exampleModalCenterTitle" class="modal fade" id="exampleModalCenter" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center my-2">
                    <div class="logo">
                        <img alt="logo Simplon" src="pics/simplon.png">
                    </div>
                    <span class="h2">Connexion</span>
                </div>
                {{ render(controller('App\\Controller\\LoginController::login')) }}
            </div>
        </div>
    </div>
</div></div><!-- Modal -->
