{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
<section class="row text-center">
<h1>Bienvenue sur l'interface d'administration de la fabrique SIMPLON Carcassonne !</h1>
</section>
{% endblock %}
