{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Candidature
{% endblock %}
{% block stylesheets %}
{% endblock %}
{% block body %}
    <section class="row justify-content-center">
        <div class="col-xs-12 col-md-8">
            <div class="card my-5 " id="contactform">
                {{ form_start(form) }}
                <div class="card-header rounded-top" id="cardheader">
                    <div class="row justify-content-center pt-2">
                        <h1 class="p-3 rounded">Formulaire de candidature</h1>
                    </div>
                    <div class="row justify-content-center pb-2">
                        <span class="text-muted">Développeur Web &amp; Web mobile 2019-20120 Carcassonne</span>
                    </div>
                </div>
                <div class="sw-theme-dots mb-3" id="smartwizard">
                    <ul class="row justify-content-around py-2" id="steps">
                        <li>
                            <a class="text-center steps" href="#step-1">1<br/>Vous connaître
                            </a>
                        </li>
                        <li>
                            <a class="text-center steps" href="#step-2">2<br/>Vous joindre
                            </a>
                        </li>
                        <li>
                            <a class="text-center steps" href="#step-3">3<br/>Vous accompagner
                            </a>
                        </li>
                    </ul>
                    <div>
                        <div class="mx-5" id="step-1">
                            {{ form_row(form.genus)}}
                            {{ form_row(form.name)}}
                            {{ form_row(form.surname)}}
                            {{ form_row(form.date_of_birth)}}

                        </div>
                        <div class="mx-5" id="step-2">
                            {{ form_row(form.address)}}
                            {{ form_row(form.post_code)}}
                            {{ form_row(form.city)}}
                            {{ form_row(form.phone_number)}}
                            {{ form_row(form.mail_address)}}
                        </div>
                        <div class="mx-5" id="step-3">
                            {{ form_row(form.skills)}}
                            {{ form_row(form.school_level)}}
                            {{ form_row(form.situation)}}
                            {{ form_row(form.submit)}}
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/SW/dist/js/jquery.smartWizard.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#smartwizard').smartWizard();
        });
    </script>
{% endblock %}
